@import url("https://fonts.googleapis.com/css2?family=Lacquer&family=Rubik:ital,wght@0,400;0,500;1,400;1,500&display=swap");
/*posts*/
.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detail-text {
  max-width: 714px;
  margin: 1em;
}
figure {
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.modal-img {
  display: 100%;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

img {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

/*Carousel*/
.carousel {
  position: relative;
  height: 400px;
  width: 300px;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-container {
  background: #38a751;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}

.carousel-track {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 100%;
  transition: transform 300ms ease-in;
}
.carousel-slide {
  background: #ffffff71;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  transition: all 0.3s;
  margin: 0;
}

.carousel-button {
  position: absolute;
  transform: translateY(400%);
  background: transparent;
  border: none;
  cursor: pointer;
}

.carousel-button--left {
  left: -5px;
}

.carousel-button--right {
  right: -5px;
}

.carousel-button img {
  width: 40px;
}

.carousel-text-bg {
  background: rgba(255, 255, 255, 0.778);
  text-align: center;
}

/*General*/

.index-img,
.index-big-img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.index-big-img {
  display: none;
}

.loader {
  border: 20px solid #7f5258c1;
  border-top: 20px solid #d60131;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-left: 40%;
  animation: spin 2s linear infinite;
}

.logo {
  max-width: 200px;
  padding-left: 1em;
  padding-top: 1em;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

fieldset {
  margin-top: 3em;
  border: 0 none;
  margin-bottom: 3em;
}

legend span.accessibility {
  position: absolute;
  left: -9999px;
  width: 100px;
  height: auto;
  overflow: hidden;
}

.contact-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

input {
  font-family: Rubik, Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-bottom: 0.5em;
  width: 280px;
}

form {
  margin: 0 auto;
}

#formButton {
  display: flex;
}

.message {
  height: 150px;
}

.blog-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.post-block {
  background: #ffffff71;
  padding: 2em;
  padding-top: 0em;
  box-shadow: 3px 2px 14px #6c021b1f;
  margin: 1em;
  display: flex;
  flex-direction: column;
  flex: 1 0 300px;
  max-width: 400px;
  justify-content: center;
  transition: transfrom 300ms ease-in-out;
}

.post-block:hover {
  transform: translateY(-1rem);
  box-shadow: 3px 2px 14px #67011987;
}

.featured-img {
  max-width: 400px;
  object-fit: cover;
}

.text-block {
  max-width: 400px;
}

body {
  background-color: #fde3e4;
  margin: 0;
  width: 100%;
  min-height: 100%;
}

/*Hamburger-menu*/

.hamburger-menu,
.close-menu {
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}

.hamburger-menu img,
.close-menu img {
  width: 50px;
  padding-right: 1em;
}

.close-menu {
  display: none;
  z-index: 10;
}

.menu {
  display: none;
  flex-direction: column;
  width: 40%;
  box-shadow: 3px 2px 14px #67011987;
  height: 300px;
  z-index: 5;
  position: absolute;
  background: #fcedee;
  right: 0px;
  padding-top: 1em;
  animation: slideinn;
  animation-duration: 0.4s;
}

@keyframes slideinn {
  from {
    right: -300px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

nav {
  display: flex;
  justify-content: space-between;
}

.navtext,
.footer-text {
  font-size: 20px;
  color: #000;
  text-decoration: none;
  font-family: Rubik, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  padding: 1em;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #d60131;
}

.navtext:hover {
  cursor: pointer;
}

#current {
  color: #d60131;
}

footer {
  background-color: #edd202;
  height: 250px;
  margin-top: 1em;
  padding: 1em;
}

.footer {
  text-align: center;
}

.copyright,
h1,
h2 {
  font-family: Lacquer, Arial, Helvetica, sans-serif;
}

p,
.button,
.form-error,
.validated {
  font-size: 17px;
  font-family: Rubik, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}

h1 {
  font-size: 55px;
  margin-left: 1em;
  color: #000000;
}

h2 {
  font-size: 32px;
}

.button {
  background-color: #38a751;
  color: #fff;
  padding: 10px;
  font-size: 24px;
  border-radius: 5%;
  max-width: 170px;
  margin: 0 auto;
  text-align: center;
  border: none;
}

.button:hover {
  cursor: pointer;
  box-shadow: 5px 10px 5px 5px #d601332e;
}

.button:disabled {
  background: gray;
}

.form-error {
  color: #450010;
  font-size: 13px;
}

.validated {
  color: #38a751;
  font-size: 30px;
}

.contact-header {
  display: flex;
  margin-left: 0;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 700px) {
  .logo {
    padding-left: 3em;
  }

  .menu {
    height: 400px;
  }

  nav {
    display: flex;
    flex-direction: row;
  }
  .navtext {
    font-size: 30px;
  }

  p {
    font-size: 20px;
  }

  h2 {
    font-size: 45px;
  }

  h1 {
    font-size: 66px;
  }
  .carousel {
    width: 400px;
  }
  .carousel-slide {
    width: 400px;
    margin-right: 1em;
  }
}

@media only screen and (min-width: 950px) {
  .menu {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    box-shadow: none;
    background: none;
    z-index: none;
    position: relative;
    right: none;
    padding-top: 1em;
    height: 100%;
    animation: none;
    width: 600px;
  }

  .hamburger-menu,
  .close-menu {
    display: none;
  }

  .post-block,
  .featured-img,
  .text-block {
    max-width: 500px;
  }

  .index-img {
    display: none;
  }

  .index-big-img {
    display: block;
  }

  .carousel {
    width: 820px;
  }
}

@media only screen and (min-width: 1350px) {
  .carousel {
    width: 1232px;
  }
}
